[Unit]
Description=Rclone Backup Service
After=network.target
Wants=rclone-backup.timer

[Service]
Type=simple
User=carlsonp
WorkingDirectory=/home/carlsonp/rclone/
ExecStart=/home/carlsonp/rclone/run-backup.sh

[Install]
WantedBy=timers.target
